{% extends 'base.html' %}

{% block content %}
     <div class="row text-center">
        <div class="col-md-12">
            <h1>Login</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{form.username.label}}<br>
                    {{form.username(size=32)}}
                    {% for error in form.username.errors %}
                        <span style="color: red;">
                            {{error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{form.password.label}}<br>
                    {{form.password(size=32)}}
                    {% for error in form.username.errors %}
                        <span style="color: red;">
                            {{error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{form.remember_me()}} {{form.remember_me.label}}
                </p>
                <p>
                    {{form.submit() }}
                </p>
                <!--Start: Request password reset-->
                <div class="text-sm">
                    <p>
                        Forgot Password?
                        <a href="{{ url_for('request_password_reset') }}">Reset Here</a>
                    </p>
                </div>
                <!--End: Request password reset-->
                <p>
                    New here? 
                    <a href="{{url_for('register')}}">Register</a>
                </p>
            </form>

        </div>       
     </div>
{% endblock %}